@import url('https://fonts.googleapis.com/css?family=Cousine');

* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

:root {
  --highlight: #00C266;
}

html {
  font: 80%/1.5 "Cousine", monospace;
  background-color: #F5F5F5;
  color: #25282B;
}

body {
  margin: 0 auto;
  max-width: 65rem;
  padding: 1.5rem;
}

h1 {
  font-size: 1rem;
}

p {
  max-width: 35rem;
  margin-bottom: 1.5rem;
}

hr {
  display: block;
  height: 1px;
  border-bottom: 1px solid inherit;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid var(--highlight);
}

  a:hover, a:focus {
    color: var(--highlight);
  }

  a:not([href*="daneden.me"])::after {
    content: '\a0\27B6';
  }

.frame__image {
  width: 100%;
}

.deflist__wrapper {
  display: flex;
}

  .deflist__term {
    font-weight: 700;
    text-align: right;
    flex: 0 1 25%;
  }

  .deflist__def {
    flex: 0 1 75%;
  }

@media (max-width: 40rem) {
  .deflist__wrapper {
    display: block;
  }

  .deflist__term {
    text-align: left;
  }
}

.mb1 {
  margin-bottom: 1.5rem;
}

.mb2 {
  margin-bottom: 3rem;
}

.mb3 {
  margin-bottom: 4.5rem;
}

.mr1 {
  margin-right: 1.5rem;
}
